<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/students">Students</a>
    <a href="/teachers">Teachers</a>
    <a href="/subjects">Subjects</a><br>
