<html>
  <head>
    <title>Subjects Add</title>
  </head>
  <body>
    <h1>Add Subject Data</h1>
    <a href="/subjects">Show All Data</a>
    <form action="/subjects/add" method="post">
      Subject Name:<br>
      <input type="text" name="subject_name" value=""><br>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
