<html>
  <head>
    <title>Add Success</title>
  </head>
  <body>
    <h1>Add Data Subject Success</h1>
    <h4>Subject Name : <%= subject.subject_name%></h4>
    <br>
    <a href="/subjects">Show Subjects Data</a>
  </body>
</html>
