<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <a href='/subjects'>Show All Data</a>
      <br>
      <br>
      <form action="" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Subject Name</label>
          <input type="text" class="form-control" name="subject_name" aria-describedby="subject_nameHelp" value="<%=subject.subject_name%>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>