<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>add subject</title>
  </head>
  <body>
    <%if(err !== "none"){%>
      <h1><%=err%></h1>
    <%}%>
    <form class="" action="/subjects/add" method="post">
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" name="subjectName" placeholder="Enter Subject Name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
