<html>
  <body>
    <h2>Edit Student Data</h2>
      <p><a href='/subject'> show all data </a></p>
      <form action = '/subject/edit/<%= all_subject.id%>' method='POST'>
        Subject Name:<br>
        <input type="text" name='subject_name' value="<%= all_subject.subject_name%>">
        <br>
        <input type="submit" value='Edit Subject'>
        <br>
        <p><a href="/"> home </a></p>
  </body>
</html>
