<html>

  <head>
    <style>
    </style>
  </head>
  <body>

    <h2>Edit Teachers Data</h2>
    <h4><a href="/teachers">Show All Teachers</a></h4>

    <form action="/teachers/edit" method="post">

      <input name="teacherId" type="hidden" value=<%= teacher.id%>>
      First name:<br>
      <input type="text" name="first_name" value=<%= teacher.firstname%>>
      <br>
      Last name:<br>
      <input type="text" name="last_name" value= <%= teacher.lastname%>>
      <br>
      Email:<br>
      <input type="text" name="email" value= <%= teacher.email%>>
      <br><br>
      <input type="submit" onclick="return confirm('Are you sure?')" value="EDIT TEACHER">
    </form>

  </body>

</html>
