<html>
  <body>
    <h2>Add Student Data</h2>
      <p><a href='/student'> show all data </a></p>
      <form action = '/student/add' method='POST'>
        First Name:<br>
        <input type="text" name='first_name'>
        <br>
        Last Name: <br>
        <input type="text" name='last_name'>
        <br>
        Email: <br>
        <input type="text" name='email'>
        <br>
        <input type="submit" value='Add Student'>
  </body>
</html>
