
<html>
  <head>
    <style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    </style>
  </head>
  <body>
    <div id="title">
      <h1> WELCOME!</h1>
    </div>
    <div id="optionMsg">
      <h1>Silahkan Pilih Menu Yang dibutuhkan</h1>
    </div>
    <table>
      <tr>
      <td><a href="/students">Students</a></td>
      <td><a href="/teachers">Teachers</a></td>
      <td><a href="/subjects">Subject</a></td>
    </tr>
  </table>
  </body>
</html>
