<html>
  <head>
    <title>
      Schools Site
    </title>
  </head>
  <body>
    <h2>Website Sekolah</h2>
    <h3>Students Data :</h3>
    <ul>
      <li>
        <a href="/students">View Students</a>
      </li>
      <li>
        <a href="/students/add">Add Student</a>
      </li>
    </ul>
    <h3>Teachers Data :</h3>
    <ul>
      <li>
        <a href="/teachers">View Teachers</a>
      </li>
      <li>
        <a href="/teachers/add">Add Teacher</a>
      </li>
    </ul>
    <h3>Subjects :</h3>
    <ul>
      <li>
        <a href="/subjects">View Subject</a>
      </li>
      <li>
        <a href="/subjects/add">Add Subject</a>
      </li>
    </ul>
  </body>
</html>
