<html>
  <head>
    <title>Edit Success</title>
  </head>
  <body>
    <h1>Edit Data Student Success</h1>
    <h4>Name : <%= student.first_name + ' ' + student.last_name%></h4>
    <h4>Email : <%= student.email%></h4>
    <br>
    <a href="/students">Show Students Data</a>
  </body>
</html>
