<html>
  <head>
    <title>Students Add</title>
  </head>
  <body>
    <h1>Add Students Data</h1>
    <a href="/students">Show All Data</a>
    <form action="/students/add" method="post">
      First name:<br>
      <input type="text" name="first_name" value=""><br>
      Last name:<br>
      <input type="text" name="last_name" value=""><br>
      Email:<br>
      <input type="text" name="email" value=""><br>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
