<html>
  <head>
    <title>Students Data</title>
  </head>
  <body>
    <h1 align="center">Students Data</h1>
    <div style="text-align:center">
      <a href="/students/add">add student</a> || <a href="/">home</a>
    </div>
    <%- include('_table_student_data', {students})%>
  </body>
</html>
