<html>
  <head>
    <title>Edit Success</title>
  </head>
  <body>
    <h1>Edit Data Subject Success</h1>
    <h4>Subject Name : <%= subject.subject_name %></h4>
    <br>
    <a href="/subjects">Show Subject Data</a>
  </body>
</html>
