<html>
  <head>
    <title>Edit Success</title>
  </head>
  <body>
    <h1>Edit Data Teacher Success</h1>
    <h4>Name : <%= teacher.first_name + ' ' + teacher.last_name%></h4>
    <h4>Email : <%= teacher.email%></h4>
    <br>
    <a href="/teachers">Show Teachers Data</a>
  </body>
</html>
