<html>
  <head>
      <title></title>
  </head>
  <body>
      <h1><%= title %></h1>
      <a href="/teacher/add">Add Teachers Data</a>
      
      <%- include partials/_table_teacher.ejs %>
  </body>
</html>
