<html>
  <head>
    <title>Teachers Edit</title>
  </head>
  <body>
    <h1>Edit Teachers Data</h1>
    <a href="/teachers/">Show All Data</a>

    <form action="/teachers/edit/<%= teacher.id %>" method="post">
      First name:<br>
      <input type="text" name="first_name" value="<%= teacher.first_name %>"><br>
      Last name:<br>
      <input type="text" name="last_name" value="<%= teacher.last_name %>"><br>
      Email:<br>
      <input type="text" name="email" value="<%= teacher.email %>"><br>
      <br>
      <button type="submit">Update</button>
    </form>
  </body>
</html>
