<%- include ../partials/header.ejs%>

  <h3>Add Data Student</h3><br>
  <form class="" action="" method="post">
    <input type="text" name="newFirstName" value="" placeholder="first name">
    <input type="text" name="newLastName" value="" placeholder="last name">
    <input type="text" name="newEmail" value="" placeholder="email">
    <input type="submit">
  </form>
  
<%- include ../partials/footer.ejs%>
