<html>
  <head>
    <title>
      Add Students
    </title>
    <style>
      input[type=text]{
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h2>Add Students Data</h2>
    <h4>
      <a href="/students">show all data</a>
    </h4>
    <form action="/students/addResult" method="POST">
      <label for="first_name">First Name :</label><br>
      <input type="text" name="first_name" /><br><br>
      <label for="last_name">Last Name :</label><br>
      <input type="text" name="last_name" /><br><br>
      <label for="email">Email :</label><br>
      <input type="text" name="email" /><br><br>
      <input type="submit" value="Add Student" />
    </form>
  </body>

</html>
