<%- include('../partials/header.ejs') %>
<%- include('../partials/menu.ejs') %>

<h1>Form Subject</h1>
<form action="/subjects/add" method="post">
    <input type="text" name="sname" placeholder="subject name.."> <br><br>
    <input type="submit" value="Save">
</form>