<%- include('../partials/header.ejs') %>
<%- include('../partials/menu.ejs') %>

<h1>Form Edit Subject</h1>
<form action="/subjects/edit/<%= data.id %>" method="post">
    <input type="text" name="sname" value="<%= data.subject_name %>" placeholder="subject name.."> <br><br>
    <input type="submit" value="Save">
</form>