<%- include ../partials/header.ejs%>

  <h3>Edit Data Subject</h3><br>
  <form class="" action="" method="post">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="text" name="newName" value="<%= name %>" placeholder="subject name">
    <input type="submit">
  </form>

<%- include ../partials/footer.ejs%>
