<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../head %>
</head>
<body class="container">

<header>
    <% include ../header %>
</header>

<main>
    <h3><font size="3" color="red"><%=error %></font></h3>

    <div class="jumbotron">
        <h2>Add Teacher</h2>
        <form name="form" method="POST" action="/teacher/add">
            <table>
                <tr>
                <td>First Name</td>
                <td><input type="text" name="firstName" ></td>
                </tr>
                <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastName" ></td>
                </tr>
                <tr>
                <td>Email</td>
                <td><input type="text" name="email" ></td>
                </tr>
                <tr>
                <td colspan="2"><input type="submit" value="Save" ></td>
                </tr>
            </table>
            </form>
    </div>
</main>

<footer>
    <% include ../footer %>
</footer>

</body>
</html>