<html>
  <head>
    <title>Teachers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href="/">Home</a>
      </div>

      <div class="">
        <h2>Teachers Data</h2>
        <h5><a href="/teachers/add">Add Teacher</a></h5>
      </div>

      <%- include('_table_teachers') %>

    </div>
  </body>
</html>
