<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <html>
    <head>
      <style>

      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }



  <body>
    <td><a href="/students">Students</a></td>
    <td><a href="/teachers">Teachers</a></td>
    <td><a href="/subjects">Subject</a></td>
