<html>
  <head>
    <%- include('../partials/css.form.ejs')  %>
  </head>
  <body>

    <h2>Add Teachers Form</h2>
    <h4><a href="/teachers">Show All Teachers</a></h4>

    <%if(condition){%>
        <div>
          <h1>
            <%= message%>
          </h1>
        </div>
      <%}
    %>


    <form action="/teachers/add" method="post">
      First name:<br>
      <input type="text" name="first_name" value="">
      <br>
      Last name:<br>
      <input type="text" name="last_name" value="">
      <br>
      Email:<br>
      <input type="text" name="email" value="">
      <br>
      Subject:<br>
      <select name="subject" id="soflow">
        <option>Select an Option</option>
        <%
        subjects.forEach(function(subject){%>
          <option type="text" name= "subject" value=<%= subject.subject_name%>><%= subject.subject_name%></option>
        <%})
        %>
      </select>
      <br><br>
      <input type="submit" value="ADD TEACHER">
    </form>

  </body>

</html>
