<%- include ../partials/header.ejs%>

  <h3>Add Data Teacher</h3><br>
  <p><%= err %></p>
  <form class="" action="" method="post">
    <input type="text" name="newFirstName" value="" placeholder="first name">
    <input type="text" name="newLastName" value="" placeholder="last name">
    <input type="text" name="newEmail" value="" placeholder="email">
    <input type="text" name="newSubjectId" value="" placeholder="subject id">
    <input type="submit">
  </form>

<%- include ../partials/footer.ejs%>
