<html>
  <head>
    <title>
      Add Teacher
    </title>
    <style>
      input[type=text]{
        width: 100%;
      }
      .error{
        padding: 5px;
        background-color: red;
      }
    </style>
  </head>
  <body>
    <h2>Add Teachers Data</h2>
    <h4>
      <a href="/teachers">show all data</a>
    </h4>
    <% if(message !== '') {%>
      <div class="error">
        <%= message %>
      </div>
    <% } %>
    <form action="/teachers/add" method="POST">
      <label for="first_name">First Name :</label><br>
      <input type="text" name="first_name" /><br><br>
      <label for="last_name">Last Name :</label><br>
      <input type="text" name="last_name" /><br><br>
      <label for="email">Email :</label><br>
      <input type="text" name="email" /><br><br>
      <label for="subject">Subject :</label><br>
      <select name="SubjectId">
        <option value="unassigned" selected disabled>Pilih Subject</option>
        <% for(let i = 0; i < Subject.length; i++) { %>
          <option value="<%= Subject[i].id %>" name="subjectName"><%= Subject[i].subject_name %></option>
        <% } %>
      </select><br><br>
      <input type="submit" value="Add Teacher" />
    </form>
  </body>

</html>
